<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infraestructura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Infraestructura.Properties.Settings>
            <setting name="Infraestructura_WebServiceGTReal_wsGenerarPlano"
                serializeAs="String">
                <value>http://10.10.21.7/GTIntegrationReal/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
        </Infraestructura.Properties.Settings>
    </applicationSettings>
</configuration>